<div class="place bg-light">
    <div class="container-main" *ngIf="cart.amount() && cart.amount() >0">
        <div class="container-fluid">
            <!--  thông tin giỏ hàng -->
            <div class="row" *ngIf="!show || show == false">
                <div class="col-md-12">
                    <h4 class="text-uppercase font-weight-bold pt-3">
                        <span class="color-primary">
                            {{ 'FECart.cart' | translate }}
                        </span>
                        <span class="font-weight-normal text-lowercase" style="font-size: 15px;">
                            (
                            <span class="font-weight-bold text-danger">
                                {{ cart.amount() }}
                            </span>
                            {{ 'FECart.product' | translate }}
                            )
                        </span>
                    </h4>
                </div>
                <div class="col-md-8 pr-md-0">
                    <div class=" bg-white mt-3 p-3" *ngFor="let item of order.data; let i = index">
                        <div class="d-flex flex-nowrap">
                            <div class="images mr-3">
                                <a [routerLink]="[ '/san-pham/'+item.path ]">
                                    <img class="" [defaultImage]="'../../../assets/img/default_product.png'"
                                        [lazyLoad]="item.images" [alt]="item.name" />
                                </a>
                            </div>
                            <div class="content d-md-flex justify-content-between flex-nowrap">
                                <div class="description">
                                    <a class="name text-dark mb-2 d-inline-block"
                                        [routerLink]="[ '/san-pham/'+item.path ]">
                                        {{item.name}}
                                    </a>
                                    <div class="d-flex d-md-block">
                                        <div class="mb-2" *ngFor="let rows of item.attribute; let j = index">
                                            {{rows.name}}: <span class="font-weight-bold">{{rows.valueChoose}}</span>
                                            <span class="mx-2"
                                                *ngIf="j < item.attribute.length -1 && width < 415">/</span>
                                        </div>
                                    </div>
                                    <p class="text-danger font-weight-bold d-none d-md-block" style="cursor:pointer;"
                                        (click)="order.removeItem(item.id)">
                                        <span>{{'FEbtn.remove' | translate}}</span>
                                    </p>
                                </div>
                                <div class="detail align-items-baseline d-flex  flex-nowrap justify-content-between">
                                    <div class="price d-inline-block font-weight-bold text-danger mr-md-4 mr-3">
                                        {{+item.price > 0 ? ((+item.price).toLocaleString('vi') + ' đ') : ('lblContact'
                                        |
                                        translate) }}
                                        <!-- {{item.price > 0 ? (item.price | number)+ 'đ' : ('lblContact' | translate) }} -->
                                    </div>
                                    <div class="group-input position-relative">
                                        <button
                                            (click)="item.amount = (item.amount <=1) ? 1 : item.amount - 1; order.addCart(item.amount,item.id)">-</button>
                                        <input type="number" min="1" class="input pr-3" [(ngModel)]="item.amount"
                                            (focusout)="order.changeAmount(item.amount, i)">
                                        <button class="position-absolute"
                                            (click)="item.amount = (+item.amount > 0) ? +item.amount + 1 : 1; order.addCart(item.amount,item.id)">+</button>
                                    </div>

                                </div>
                                <p class="text-danger font-weight-bold d-block d-md-none m-0" style="cursor:pointer;"
                                    (click)="order.removeItem(item.id)">
                                    <span>{{'FEbtn.remove' | translate}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-3 cart-total">
                        <div class="card-body  bg-white">
                            <div class="d-flex  flex-nowrap justify-content-between">
                                <span> {{'FECart.provisional' | translate}}</span>
                                <span class="font-weight-bold">
                                    {{ (+cart.total()).toLocaleString('vi') }} đ
                                </span>
                            </div>
                            <hr />
                            <div class="d-flex  flex-nowrap justify-content-between align-items-baseline">
                                <span> {{'FECart.intoPrice' | translate}}</span>
                                <span class="font-weight-bold value-final text-nowrap">
                                    <!-- {{ (+cart.total()).toLocaleString('vi') }}đ -->
                                    {{ (+cart.total()).toLocaleString('vi') }} đ
                                </span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <app-box-button [name]="'FEbtn.payment'" [class]="'w-100'"
                                (click)="show=(!show && show==false)?true:!show">
                            </app-box-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- thông tin giao hàng -->
        <div class="container-fluid mb-2" *ngIf="show || show == true">
            <ul class="step nav justify-content-center align-items-center flex-nowrap mb-3">
                <li class="nav-item text-center">
                    <span class="d-block small">
                        Đăng nhập
                    </span>
                    <span class="step__btn btn btn-outline-primary rounded-circle active p-0" data-toggle="tab">1</span>
                </li>
                <div class="d-inline hr"></div>
                <div class="d-none d-sm-block hr"></div>
                <li class="nav-item text-center">
                    <span class="d-block small">
                        Địa chỉ giao hàng
                    </span>
                    <button class="step__btn btn btn-outline-primary rounded-circle p-0"
                        [disabled]="!globals.CUSTOMER.get(true).name"
                        [ngClass]="(globals.CUSTOMER.check(true)==false)?'':'active'" data-toggle="tab">2</button>
                </li>
                <div class="d-inline hr"></div>
                <div class="d-none d-sm-block hr"></div>
                <li class="nav-item text-center">
                    <span class="d-block small">
                        Thanh toán & Đặt mua
                    </span>
                    <button class="step__btn btn btn-outline-primary rounded-circle p-0" [disabled]="active!=true"
                        [ngClass]="(active==true)?'active':''" data-toggle="tab">3</button>
                </li>
            </ul>

            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="tab-content border-0">
                        <div id="login" class="tab-pane" [ngClass]="(globals.CUSTOMER.check(true)==false)?'active':''">
                            <h4 class="card-title" style="color: #ed1c24;">{{ 'FELogin.login' | translate }}</h4>
                            <div class="card-body bg-white d-md-flex p-0 p-md-3">
                                <div class="col-md-4 col-12 p-0">
                                    <ul class="nav flex-column nav-tabs border-bottom-0">
                                        <li class="nav-item">
                                            <a class="btn p-3 col-12 btn-white text-dark active border-right-0 border-top-0 border-bottom-0"
                                                data-toggle="tab" href="#home">
                                                <strong>{{'FEbtn.login' | translate}}</strong>
                                            </a>
                                        </li>
                                        <li class="nav-item pt-1">
                                            <a class="btn p-3 col-12 btn-white text-dark border-right-0 border-top-0 border-bottom-0"
                                                data-toggle="tab" href="#menu1">
                                                <span>
                                                    <strong>{{'FEbtn.registration' | translate}}</strong>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8 col-12 p-0 bg-light">
                                    <div class="tab-content border-0">
                                        <div id="home" class="container tab-pane active p-0 p-md-3">
                                            <div *ngIf="this.globals.CUSTOMER.check(true)==false">
                                                <app-fm-signin (customerValue)="handleCustomerValue($event)">
                                                </app-fm-signin>
                                            </div>
                                        </div>
                                        <div id="menu1" class="container tab-pane fade">
                                            <app-fm-signup (customerValue)="handleCustomerValue($event)">
                                            </app-fm-signup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="address" class=" tab-pane"
                            [ngClass]="(globals.CUSTOMER.check(true)==true && hiden==true)?'active':''">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="color-primary">{{ 'FECart.payment' | translate }}</h4>
                                    <div class="box-payment bg-white p-3 mt-2">
                                        <div class="" *ngFor="let item of payment.data">
                                            <div class="radio">
                                                <input id="item.name" name="paymentMethod" type="radio"
                                                    class="input-radio" data-bind="paymentMethod" [value]="item.id"
                                                    [checked]="true">
                                            </div>
                                            <label class="radio-label">
                                                <span>{{item.name | translate}}</span>
                                                <img class="float-right"
                                                    [defaultImage]="'../../../assets/img/default_product.png'"
                                                    [lazyLoad]="item.images" width="20" [alt]="item.name">
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <div>
                                                                    <h4 style="color: #ed1c24;">{{ 'FECart.transport' | translate }}</h4>
                                                                </div>
                                                                <div class="box-payment bg-white p-3">
                                                                    <div class="" *ngFor="let item of payment.data">
                                                                        <div class="radio">
                                                                            <input id="item.name" name="paymentMethod" type="radio"
                                                                                class="input-radio" data-bind="paymentMethod" [value]="item.id"
                                                                                [checked]="item.id">
                                                                        </div>
                                                                        <label for="paymentMethod-470606" class="radio-label">
                                                                            <span>{{item.name | translate}}</span>
                                                                            <img [defaultImage]="'../../../assets/img/default_product.png'" [lazyLoad]="item.images" width="50"
                                                                                [alt]="item.name">
                                                                        </label>
                                                                    </div>
                                                                </div> -->
                                </div>
                                <div class="col-12 mt-3">
                                    <h4 class="color-primary">{{ 'FECart.address' | translate }}</h4>
                                    <div class="bg-white mt-3">
                                        <div class="card-body">
                                            <form [formGroup]="fm" *ngIf="fm">
                                                <div class="form-group">
                                                    <label> {{'FECart.name' | translate }} </label>
                                                    <input type="tel" class="form-control" autocomplete="off"
                                                        formControlName="name" name="name">
                                                </div>
                                                <div class="form-group">
                                                    <label> {{ 'lblPhone' | translate }}:</label>
                                                    <input type="tel" class="form-control" autocomplete="off"
                                                        formControlName="phone" name="phone" id="phone">
                                                    <small style="color:red"
                                                        *ngIf="fm.get('phone').invalid && fm.get('phone').touched">
                                                        {{ 'message.phone' | translate}}</small>
                                                </div>
                                                <div class="form-group">
                                                    <label>{{ 'lblAddress' | translate }}</label>
                                                    <textarea class="form-control" formControlName="address"
                                                        name="address"></textarea>
                                                    <small class="d-inline" style="color:red"
                                                        *ngIf="fm.get('address').invalid && fm.get('address').touched">
                                                        {{ 'message.required' | translate}}</small>
                                                </div>
                                                <div class="form-group">
                                                    <label> {{ 'lblNote' | translate }}:</label>
                                                    <textarea class="form-control" formControlName="note"
                                                        name="note"></textarea>
                                                </div>
                                                <div *ngIf="alert.skip == true">
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ alert.message }}
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="mt-4">
                                        <h4 style="color: #ed1c24;">{{ 'FECart.transport' | translate }}</h4>
                                    </div>
                                    <div class="box-payment bg-white p-3">
                                        <div class="" *ngFor="let item of payment.data">
                                            <div class="radio">
                                                <input id="item.name" name="paymentMethod" type="radio"
                                                    class="input-radio" data-bind="paymentMethod" [value]="item.id"
                                                    [checked]="item.id">
                                            </div>
                                            <label for="paymentMethod-470606" class="radio-label">
                                                <span>{{item.name | translate}}</span>
                                                <img [defaultImage]="'../../../assets/img/default_product.png'" [lazyLoad]="item.images" width="50"
                                                    [alt]="item.name">
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mt-4">
                                        <h4 style="color: #ed1c24;">{{ 'FECart.payment' | translate }}</h4>
                                    </div>
                                    <div class="box-payment bg-white p-3">
                                        <div class="" *ngFor="let item of payment.data">
                                            <div class="radio">
                                                <input id="item.name" name="paymentMethod" type="radio"
                                                    class="input-radio" data-bind="paymentMethod" [value]="item.id"
                                                    [checked]="item.id">
                                            </div>
                                            <label for="paymentMethod-470606" class="radio-label">
                                                <span>{{item.name | translate}}</span>
                                                <img [defaultImage]="'../../../assets/img/default_product.png'" [lazyLoad]="item.images" width="50"
                                                    [alt]="item.name">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>


                        <div id="end" class=" tab-pane" [ngClass]="(active==true)?'active':''">
                            <h4 class="color-primary">{{ 'FECart.confirm' | translate }}</h4>
                            <div class="card-body bg-white mt-4">
                                <p class="font-weight-bold">{{'FECart.infoReceiver' | translate }}</p>
                                <p class="card-text">
                                    <span class="font-weight-bold mr-1">{{'FECart.name'|
                                        translate}}:</span>{{datacart.name}}
                                </p>
                                <p class="card-text">
                                    <span class="font-weight-bold">{{'lblPhone'| translate}}:</span>
                                    {{ datacart.phone}}
                                </p>
                                <p class="card-text">
                                    <span class="font-weight-bold">{{'lblAddress'| translate}}:</span>
                                    {{ datacart.address }}
                                </p>
                                <p class="card-text">
                                    <span class="font-weight-bold">{{'lblNote'| translate}}:</span>{{
                                    datacart.note}}
                                </p>
                                <app-box-button (click)="hiden=true; active=false" [name]="'FEbtn.back'" [class]="''"
                                    (click)="dataCart()">
                                </app-box-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 pt-4 pt-md-0">
                    <div class="cart-total">
                        <h4 class="color-primary">{{ 'FECart.order' | translate }}</h4>

                        <div class="bg-white mt-3 mt-md-0 p-3">
                            <div *ngFor="let item of order.data; let i = index">
                                <div class="d-flex flex-nowrap mb-3">
                                    <div class="images-order mr-3">
                                        <a [routerLink]="[ '/san-pham/'+item.path ]">
                                            <img class="" [defaultImage]="'../../../assets/img/default_product.png'"
                                                [lazyLoad]="item.images" [alt]="item.name" />
                                        </a>
                                    </div>
                                    <div class="content-order">
                                        <div class="w-100 d-flex justify-content-between flex-nowrap">
                                            <div class="description-order">
                                                <a class="name text-dark d-inline-block" style="font-size: 12px;"
                                                    [routerLink]="[ '/san-pham/'+item.path ]">
                                                    {{item.name}}
                                                </a>
                                                <div class="d-flex" style="font-size: 13px;">
                                                    <div class="mb-2"
                                                        *ngFor="let rows of item.attribute; let j = index">
                                                        {{rows.name}}:
                                                        <span class="font-weight-bold">{{rows.valueChoose}}</span>
                                                        <span class="mx-2" *ngIf="j < item.attribute.length -1">/</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <div class="price d-inline-block font-weight-bold text-danger">
                                                    {{item.price > 0 ? ((+item.price).toLocaleString('vi') + ' đ') :
                                                    ('lblContact' |
                                                    translate) }}
                                                </div>
                                                <div style="font-size: 15px;">
                                                    x <span class="font-weight-bold">{{item.amount}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr class="my-2" />
                            <div class="d-flex  flex-nowrap justify-content-between mb-2">
                                <span> {{'FECart.provisional' | translate}} </span>
                                <span>
                                    {{ (+cart.total()).toLocaleString('vi') }} đ
                                </span>
                            </div>
                            <div class="d-flex  flex-nowrap justify-content-between">
                                <span> {{'FECart.transportFee' | translate}}</span>
                                <span>
                                    Liên hệ
                                </span>
                            </div>
                            <hr class="my-2" />
                            <div class="d-flex  flex-nowrap justify-content-between align-items-baseline">
                                <span>{{'FECart.totalProduct' | translate}}<br> (chưa bao gồm phí vận chuyển)</span>
                                <span class="font-weight-bold value-final text-nowrap">
                                    {{ (+cart.total()).toLocaleString('vi') }} đ
                                </span>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <button type="button" (click)="show=(!show && show==false)?true:!show" class="btn">
                                    {{'FECart.back' | translate}}</button>
                                <app-box-button class="float-right" (click)="order.submit()"
                                    *ngIf="active || active==true" (click)="active=true;hiden=false" class="float-right"
                                    [name]='"FEbtn.order"'>
                                </app-box-button>
                                <div class="float-right" style="display:none"
                                    [ngClass]="(globals.CUSTOMER.check(true)==true && hiden==true)?'d-block':''">
                                    <app-box-button [name]="'FEbtn.nextCart'" [class]="''" (click)="order.dataCart()"
                                        (click)="active= order.dataCart() ; hiden= !order.dataCart()">
                                    </app-box-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-main" *ngIf="!cart.amount() && cart.amount()<=0 && cartComplete.skip == false">
        <div class="container-fluid text-center">
            <img src="../../../assets/img/nocart.png" width="300px" />
            <h4>{{ 'FECart.noCart' | translate }}</h4>
            <app-box-button [name]="'FECart.continue'" [routerLink]="['/san-pham']"></app-box-button>
        </div>
    </div>
    <div class="container-main" *ngIf="!cart.amount() && cart.amount()<=0 && cartComplete.skip == true">
        <div class="container-fluid text-center">
            <img src="../../../assets/img/nocart.png" width="300px" />
            <h4>{{'FECart.codeCart' | translate }} <a
                    [routerLink]="['/chi-tiet-don-hang/' + cartComplete.code ]">{{cartComplete.code}}</a></h4>
            <app-box-button [name]="'FECart.continue'" [class]="''" [routerLink]="['/']"></app-box-button>
        </div>
    </div>
</div>