<div class="box-content">
    <a [routerLink]="['/tin-tuc/'+item.parent_link+'/'+item.link]">
        <div class="images position-relative">
            <img [defaultImage]="'https://via.placeholder.com/400x300'"
                 [lazyLoad]="item.images"
                 [alt]="item.name"
                 width="100%"
                 height="100%"
                 style="object-fit: cover">

        </div>
    </a>
    <div class="content bg-light p-md-3 pt-2">
        <h4 class="mb-2"
            [routerLink]="['/tin-tuc/'+item.parent_link+'/'+item.link]"
            style="outline: none;">
            {{ item.name }}
        </h4>
        <div class="blog-info d-flex align-items-center">
            <div class="d-inline-block mr-3">
                <small class="">
                    <i class="far fa-calendar-alt text-black-50 mr-1"></i>
                    <time>{{ item.maker_date |date:'dd-MM-yyyy' }}</time>
                </small>
            </div>
            <div class="d-inline-block">
                <small class="">
                    <i class="fas fa-street-view text-black-50 mr-1"></i>
                    {{ (item.views > 0) ? item.views : 0 }}
                </small>
            </div>
        </div>
        <div class="pt-2 description">
            {{ item.description }}
        </div>
    </div>
</div>