@import 'src/scss/abstracts/colors';

.title {
    margin-bottom: 50px;
}

.bottom-dots {
    left: 50%;
    margin-left: -25px;
    position: absolute;
    bottom: 0;
}

.about-us .bottom-dots {
    left: 25px;
}

.dot {
    position: relative;
    display: block;
    float: left;
    width: 3px;
    height: 3px;
    border-right: 3px solid;
    margin-right: 3px;
    border-right-color: $colorSecondary;
}

.line-dot {
    border-right: 40px solid;
    border-right-color: $colorSecondary;
}

.about-us {
    background-color: #f0f3fb;
}

.about-us::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/bg-about.png') center center repeat;
    opacity: 0.7;
}

.about-images {
    max-width: 500px;
    overflow: hidden;
}

.about-images > img {
    transform: translateZ(0);
}

.view-more {
    position: relative;
    display: block;
    z-index: 1;
    border-radius: 8px;
    padding: 12px 30px;
    background: $colorPrimary;
    letter-spacing: 0.05em;
    border-radius: 0px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.view-more:hover {
    background: $colorSecondary;
    transition: 0.3;
}

.content {
    padding-top: 80px;
}

@media (max-width: 768px) {
    .product-not-have {
        font-size: 1.2rem;
    }
    .about-us .bottom-dots {
        left: 7.5%;
    }
}
@media (max-width: 415px) {
    .title h2,
    .title-border h2 {
        font-size: 25px;
    }
    .title-border,
    .title {
        margin-bottom: 30px;
    }
    .content {
        padding-top: 50px;
    }
}

.productCategory {
    position: relative;
    z-index: 8;
}

.list-group-item {
    position: unset;
}

.dropdown-menu {
    top: -40px;
    left: 100%;
    width: 880px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

.productCategory ul li:hover .dropdown-menu {
    display: block !important;
}
