// @import "../../../../scss/animations";
@import 'src/scss/animations';

.footer {
    background-color: #21212d;
}

.service img {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.service:hover img {
    animation-name: rubberBand;
}

.footer-header h3 {
    font-size: 18px;
}

.footer-body {
    // border-bottom: 1px solid #575758;
    border-top: 1px solid #575758;
    color: #ddd;
}

.title-footer {
    font-size: 16px;
}

.footer-item {
    color: #ddd;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.footer-end .menu a {
    font-size: 12px;
    padding: 0 10px;
    color: #ddd;
}

.footer-social a {
    width: 32px;
    height: 32px;
    line-height: 32px;

    transition: 0.33s;
}

.footer-social a:hover i {
    transform: scale(1.33);
    transition: 0.33s;
}
