.btn-try {
    background: var(--color-primary);
    height: 40px;
    font-size: 18px;
    padding: 0 40px;
    position: relative;
}

.btn-try::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .04);
    transform: scaleX(0);
    transform-origin: 50%;
    transition: all .5s ease-out;
}

.btn-try:hover:before {
    transform: scaleX(1);
}

@media (max-width: 375px) {
    .btn-try {
        padding: 0 25px;
    }
}