@import 'src/scss/abstracts/colors';

.images-detail {
    transition: 0.3s;
    object-fit: contain;
    max-width: 100%;
    max-height: 400px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.img-child {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: contain;
    padding: 2px;
}

.price {
    color: #b1b1b1;
    font-size: 19px;
    text-decoration: line-through;
}

.price-sale {
    font-size: 24px;
    // color: $colorSecondary;
}

.group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.group-input button:first-child {
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}

.group-input button {
    cursor: pointer;
    width: 32px;
    border: 1px solid #dee2e6;
    background-color: rgb(255, 255, 255);
}

.group-input button,
.group-input input {
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.group-input input {
    width: 75px;
    border: 1px solid #dee2e6;
}

.group-input button:last-child {
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    right: 0;
    border-left: 1px solid #dee2e6;
}

.btn-addCart {
    cursor: pointer;
    min-width: 190px;
    width: 100%;
    height: 40px;
    font-size: 13px;
    border-radius: 4px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #af1713;
}

.title-border h2 {
    font-size: 25px;
    background: #fff none repeat scroll 0 0;
    padding-right: 20px;
    z-index: 2;
    color: var(--color-primary);
    position: relative;
}

.title-border::after {
    background: #f3f3f3 none repeat scroll 0 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.box-attribute {
    cursor: pointer;
}

.choose-attribute {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1025px) {
    .input {
        padding-right: 32px !important;
    }
}
