.bg-register {
    /* background-image: url('../../../assets/img/signup-2.jpg'); */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
    border-radius: 5px;
}

.bg-register::before {
    background: rgba(0, 0, 0, 0.35);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.register {
    padding: 77px 20px;
}