<div class="slide mt-2 mt-md-0"
     *ngIf="slide.data && slide.data.length > 0">
    <owl-carousel-o [options]="slideOptions">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <a [href]="item.link"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="d-inline-block w-100 h-100">
                    <img width="100%"
                         height="540"
                         *ngIf="item.images && item.images.length > 0"
                         [alt]="item.name"
                         [lazyLoad]="item.images"
                         defaultImage="https://via.placeholder.com/860x540" class="slide__img" />
                </a>
                <!-- <div class="slide-bg h-100" style="background-image: url('{{ item.images }}')">
                    <div class="container-main">
                        <div class="container-fluid">
                            <div class="slide-content d-flex flex-column justify-content-center">
                                <div class="w-100" *ngIf="item.position && item.position < 4"
                                    [ngClass]="+item.position == 1 ? 'text-left' : (+item.position == 2 ? 'text-center' :'text-right')">
                                    <p class="d-inline-block slide-description text-white px-2 py-1">
                                        {{ item.description }}
                                    </p>
                                    <br />
                                    <h2 class="d-inline-block slide-title text-uppercase text-white px-2 py-1">
                                        {{ item.title }}
                                    </h2>
                                    <div class="mt-3">
                                        <a [href]="item.link"
                                            class="d-inline-flex align-items-center slide-btn btn btn-light rounded-0 py-2 px-4"
                                            role="button" target="_blank">
                                            <span class="mr-2"> {{ 'FEbtn.viewDetail' | translate }} </span>
                                            <i class="fal fa-long-arrow-right color-secondary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>