@import 'src/scss/abstracts/responsive';

.slide {
    // --height: 540px;

    // height: var(--height);

    &-bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-content {
        height: var(--height);
    }

    &-description {
        background-color: rgb(0, 0, 0, 0.33);
    }

    &-title {
        font-size: 2.625rem;
        background-color: rgb(0, 0, 0, 0.33);
    }

    &-btn {
        &:hover {
            color: #333 !important;
            background-color: transparent;
        }

        > i {
            font-size: 1.25rem;
        }
    }

    &__img {
        object-fit: contain;
        
        @include viewport-sm {
            height: auto;
        }
    }
}
