<header class="bg-white mb-0 mb-lg-2"
        style="box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);">
    <!-- TODO: HEADER TOP -->
    <div class="container-main">
        <div class="container-fluid">
            <div class="row d-none d-md-flex">
                <div class="col-md-7">
                    <div class="d-flex align-items-center justify-content-between py-1">
                        <div class="contact"
                             style="font-size: 14px;">
                            <a class="p-0 mr-3"
                               *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''"
                               href="mailto:{{ 'FEMail'|translate }}">
                                <i class="fas fa-envelope mr-1"></i>
                                {{ 'lblEmail' | translate }}
                                {{ 'FEMail'|translate }}
                            </a>
                            <span style="color: #7a8088;"
                                  *ngIf="('FEPhone_1' | translate) != 'FEPhone_1' && ('FEPhone_1' | translate) != ''">
                                <i class="fas fa-phone-alt mr-1"></i>
                                <a class="p-0"
                                   href="tel:{{ 'FEPhone_1'|translate }}">
                                    {{ 'lblHotline' | translate }}
                                    {{ 'FEPhone_1'|translate }}
                                </a>
                            </span>
                            <span *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''"
                                  class="mx-1"
                                  style="color: #7a8088;">-</span>
                            <span style="color: #7a8088;"
                                  *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''">
                                <a class="p-0"
                                   href="tel:{{ 'FEPhone_2'|translate }}">
                                    {{ 'lblPhone' | translate }}
                                    {{ 'FEPhone_2'|translate }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 text-right">
                    <div class="d-inline-flex align-items-center">
                        <a target="_blank"
                           [href]="('FEHrefFacebook' | translate)"
                           *ngIf="('FEHrefFacebook' | translate)!='FEHrefFacebook' && ('FEHrefFacebook' | translate)!=''"
                           class="footer-social mr-3">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a target="_blank"
                           [href]="('FEHrefInstagram' | translate)"
                           *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram' && ('FEHrefInstagram' | translate)!=''"
                           class="footer-social mx-3">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a target="_blank"
                           [href]="('FEHrefYoutube' | translate)"
                           *ngIf="('FEHrefYoutube' |  translate)!='FEHrefYoutube' && ('FEHrefYoutube' |  translate)!=''"
                           class="footer-social mx-3">
                            <i class="fab fa-youtube"></i>
                        </a>

                        <div style="cursor: pointer;"
                             class="ml-2">
                            <div class="dropdown"
                                 *ngIf="globals.CUSTOMER.check(true) == false">
                                <div>
                                    {{'lblAccount' | translate}}
                                    <i class="fas fa-angle-down"
                                       style="color:#212529ab"></i>
                                </div>
                                <div class="dropdown-content px-3">
                                    <a class="dropdown-item bg-transparent"
                                       [routerLink]="[ '/dang-nhap' ]">
                                        {{'lblLogin' | translate}}
                                    </a>
                                    <a class="dropdown-item bg-transparent"
                                       [routerLink]="[ '/dang-ky' ]">
                                        {{'lblRegistration' | translate}}
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown"
                                 *ngIf="globals.CUSTOMER.check(true) == true">
                                <div>
                                    {{globals.CUSTOMER.get(true).name}}
                                    <i class="fas fa-angle-down ml-2"
                                       style="color:#212529ab"></i>
                                </div>
                                <div class="dropdown-content px-3">
                                    <a class="dropdown-item bg-transparent"
                                       [routerLink]="['/thong-tin-khach-hang']">
                                        {{'lblInforUser' | translate }}
                                    </a>
                                    <a class="dropdown-item bg-transparent"
                                       [routerLink]="['/thong-tin-don-hang']">
                                        {{ 'lblCart' | translate }}
                                    </a>
                                    <a class="dropdown-item bg-transparent"
                                       (click)="logout()">
                                        {{ 'FEbtn.logout' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="m-0" />
        </div>
    </div>

    <!-- TODO: LOGO, MENU DESKTOP -->
    <div id="header"
         class="header-primary w-100 bg-white">
        <div class="container-main">
            <div class="container-fluid">
                <div class="row align-items-center py-3 py-lg-2">
                    <!-- TODO: LOGO -->
                    <div class="col-6 col-lg-3">
                        <div class="text-center">
                            <a [routerLink]="'/'"
                               *ngIf="('company.logo' | translate) != ''"
                               class="header__logo overflow-hidden">
                                <img class="logo-header img-fluid"
                                     [src]="('company.logo' | translate)"
                                     [alt]="('company.name' | translate)" />
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-lg-9">
                        <div class="d-flex align-items-center justify-content-end position-relative">
                            <!-- TODO: MENU DESKTOP -->
                            <app-menu class="w-100 d-flex justify-content-end"
                                      *ngIf="width > 768"></app-menu>

                            <!-- TODO: SEARCH MODULE -->
                            <div class="nav-item text-right mx-2 p-0"
                                 style="width: 28px;">
                                <div class="cursor-pointer"
                                     style="font-size: 18px"
                                     (click)="search.showSearch()">
                                    <i class="far fa-search text-dark"
                                       *ngIf="!search.icon"></i>
                                    <i class="far fa-times text-dark"
                                       *ngIf="search.icon"></i>
                                </div>
                                <div class="search"
                                     *ngIf="search.icon">
                                    <div>
                                        <input type="text"
                                               id="search"
                                               (keyup.enter)="search.onSearch();"
                                               autofocus
                                               [(ngModel)]="search.value"
                                               autocomplete="off"
                                               class="form-control input-search w-100"
                                               placeholder="{{ 'FESearch.title'|translate }}">
                                        <div class="position-absolute"
                                             style="top:14px; right: 15px;cursor: pointer;"
                                             (click)="search.onSearch()">
                                            <i class="far fa-search text-black-50"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- TODO: CART MODULE -->
                            <div class="header-cart position-relative ml-3">
                                <a [routerLink]="'/gio-hang'"
                                   class="position-relative text-dark"
                                   style="font-size: 18px;">
                                    <i class="far fa-shopping-cart"></i>
                                    <span
                                          class="header-cart__amount badge position-absolute rounded-circle bg-danger text-white p-0">
                                        {{ cartApi.amount() }}
                                    </span>
                                </a>
                                <div class="notification position-absolute p-3 bg-white"
                                     id="notification">
                                    <div class="btn-close"
                                         (click)="cart.close()">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <p class="status d-flex align-items-center m-0">
                                        <i class="fas fa-check-circle text-success mr-2"></i>
                                        {{'FEProductsDetail.notification' | translate}}
                                    </p>
                                    <a class="btn btn-viewCart mt-2 py-2 text-white"
                                       (click)="cart.router()">
                                        {{'FEProductsDetail.viewCart' | translate}}
                                    </a>
                                </div>
                            </div>

                            <!-- TODO: HAMBUGER MENU MOBILE -->
                            <div class="menu-action ml-4 bg-icon"
                                 *ngIf="width <= 768">
                                <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                        class="btn nav-open-btn p-0"
                                        [ngClass]="{'active': menuMobile.show == false }">
                                    <span class="line line1 bg-dark"></span>
                                    <span class="line line2 bg-dark"></span>
                                    <span class="line line3 bg-dark"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-9" [ngClass]="width <= 768">
                        <div class="float-right position-relative d-flex"> -->
                    <!-- <div class="ml-md-3 search-action d-lg-none bg-icon"
                                (click)="menuMobile.onShowSearchMobile(!menuMobile.showMobile)">
                                <i class="far fa-search p-3" style="color : black; font-size: 18px;"
                                    *ngIf="menuMobile.showMobile"></i>
                                <i class="far fa-times p-3" style="color  : black; font-size: 18px;"
                                    *ngIf="!menuMobile.showMobile"></i>
                            </div> -->

                    <!-- TODO: Cart modules -->
                    <!-- <div class="header-cart position-relative p-3">
                                <a [routerLink]="'/gio-hang'" class="position-relative text-dark"
                                    style="font-size: 18px;">
                                    <i class="far fa-shopping-cart"></i>
                                    <span
                                        class="header-cart__amount badge position-absolute rounded-circle bg--primary text-white p-0">
                                        {{ cartApi.amount() }}
                                    </span>
                                </a>
                                <div class="notification position-absolute p-3 bg-white" id="notification">
                                    <div class="btn-close" (click)="cart.close()">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <p class="status d-flex align-items-center m-0">
                                        <i class="fas fa-check-circle text-success mr-2"></i>
                                        {{'FEProductsDetail.notification' | translate}}
                                    </p>
                                    <a class="btn btn-viewCart mt-2 py-2 text-white" (click)="cart.router()">
                                        {{'FEProductsDetail.viewCart' | translate}}
                                    </a>
                                </div>
                            </div> -->

                    <!-- <div class="menu-action d-lg-none d-md-block d-flex ml-md-3 bg-icon">
                                <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                    class="btn bg-transparent nav-open-btn ml-3 p-0"
                                    [ngClass]="{'active': menuMobile.show == false }">
                                    <span class="line line1"></span>
                                    <span class="line line2"></span>
                                    <span class="line line3"></span>
                                </button>
                            </div> -->
                    <!-- </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>

<div id="menu-mobi"
     class="menu-mobi menu-mobi-hidden"
     *ngIf="width <= 768">
    <!-- <div class="container-main" style="border-bottom: 3px solid var(--color-primary);">
        <div class="container-fluid">
            <div class="row align-items-center py-lg-3 py-1">
                <div class="col-3">
                    <div *ngIf="('company.logo' | translate) != ''">
                        <a [routerLink]="'/'">
                            <img class="logo-header" [defaultImage]="('company.logo' | translate)"
                                [lazyLoad]="('company.logo' | translate)" 
                                [alt]="('company.logo' | translate)" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-9">
                    <div class="float-right position-relative d-flex">
                        <div class="ml-md-3 search-action d-lg-none bg-icon"
                            (click)="menuMobile.onShowSearchMobile(!menuMobile.showMobile)">
                            <i class="far fa-search p-3" style="color : black;" *ngIf="menuMobile.showMobile"></i>
                            <i class="far fa-times p-3" style="color  : black;" *ngIf="!menuMobile.showMobile"></i>
                        </div>
                        <div class="menu-action d-lg-none d-md-block d-flex ml-md-3 bg-icon">
                            <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                class="btn bg-transparent nav-open-btn"
                                [ngClass]="{'active': menuMobile.show == false }">
                                <span class="line line1"></span>
                                <span class="line line2"></span>
                                <span class="line line3"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="align-items-center justify-content-between d-flex px-3"
         style="background: var(--color-primary)">
        <div class="align-items-center d-flex">
            <div class="mr-3 text-white"
                 style="font-size: 45px">
                <i class="fas fa-user-circle"></i>
            </div>
            <div *ngIf="globals.CUSTOMER.check(true) == false">
                <div [routerLink]="['/dang-nhap']"
                     (click)="menuMobile.onMenu(!menuMobile.show)"
                     style="outline:none"
                     class="text-white">
                    <p class="mb-0">{{ 'lblLogin' | translate }}</p>
                    <small>{{'lblDesLogin' | translate}}</small>
                </div>
            </div>

            <div *ngIf="globals.CUSTOMER.check(true) == true">
                <div class="text-white">
                    <p class="m-0">{{ 'lblHelloUser' | translate }}
                        <span class="font-weight-bold text-white">{{ globals.CUSTOMER.get(true).name }}</span>
                    </p>
                    <small (click)="logout();menuMobile.onMenu(!menuMobile.show)">{{ 'FEbtn.logout' | translate }}
                    </small>
                </div>
            </div>
        </div>

        <div class="dropdown"
             *ngIf="globals.CUSTOMER.check(true) == true">
            <div>
                <i class="fas fa-stream text-white p-3"></i>
            </div>
            <div class="dropdown-content px-3">
                <a class="dropdown-item"
                   [routerLink]="['/thong-tin-khach-hang']"
                   (click)="menuMobile.onMenu(!menuMobile.show)">
                    {{'lblInforUser' | translate }}
                </a>
                <a class="dropdown-item"
                   [routerLink]="['/thong-tin-don-hang']"
                   (click)="menuMobile.onMenu(!menuMobile.show)">
                    {{ 'lblCart' | translate }}
                </a>
                <a class="dropdown-item"
                   [routerLink]="['/doi-mat-khau']"
                   (click)="menuMobile.onMenu(!menuMobile.show)">
                    {{ 'FECustomer.changePassword' | translate }}
                </a>
            </div>
        </div>
    </div>

    <app-menu-mobile (menumobile)="menuMobile.onMenu(!menuMobile.show)"
                     *ngIf="width <= 768"></app-menu-mobile>
</div>

<!-- <div id="search-mobi" class="search-mobi menu-mobi-hidden w-100 bg-white">
    <div class="mx-3">
        <div class="input-field  position-relative">
            <input id="search" class="border  w-100 rounded  search-input-mobile" autocomplete="off" name="input"
                type="text" placeholder="{{ 'FESearch.titleSearch' | translate }}" [(ngModel)]="search.value"
                (keyup.enter)="search.onSearch()">
            <i class="far fa-search  search-icon" (click)="search.onSearch()"></i>
        </div>
    </div>
</div> -->