<div class="place">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <h2>{{ 'FEResetPassword.title' | translate }}</h2>
                    </div>
                    <div class="title-contact mb-3">
                        <span class="br-text d-flex align-items-baseline">
                            <small class="form-text font-md text-muted">{{ 'FEResetPassword.subTitle' |
                                translate }}</small>
                            <a [routerLink]="['/dang-ky']" style="font-size: 12px;" class="ml-2"> {{ 'FEResetPassword.here' |
                                    translate }}</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <div *ngIf="!checkToken">
                        <div class="alert alert-warning" role="alert">
                            {{ 'FEResetPassword.notExistToken' | translate }}
                        </div>
                    </div>
                    <form [formGroup]="fm" *ngIf="fm">
                        <div class="form-group">
                            <label>{{ 'FEResetPassword.newPass' | translate }}<span
                                    class="text-danger pl-2 font-lg">*</span></label>
                            <input type="password" autocomplete="off" class="form-control" name="password"
                                formControlName="password" required>
                            <small style="color:red"
                                *ngIf="fm.get('password').invalid && fm.get('password').touched">{{'message.required'|translate}}</small>
                        </div>
                        <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn  mt-3 w-100 text-white"
                            style="background-color: #1c8312;">
                            {{'FEResetPassword.title' |translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>