.images {
    width: 130px;
}

.images img, .images-order img {
    max-width: 100%;
}

.name:hover {
    text-decoration: none;
    color: var(--color-primary)!important;
    transition: .3s;
}

.content {
    width: calc(100% - 130px);
}

.description {
    width: 60%;
}

.price {
    font-size: 16px;
    color: var(--color-primary);
}

.group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}