<div class="admin" [ngStyle]="{'min-height': ( height + 200 )+ 'px'}">
    <admin-header (eventOpened)="eventOpened()"></admin-header>
    <div>
        <div class="asidebar" *ngIf="opened">
            <admin-asidebar> </admin-asidebar>
        </div>
        <main class="pt-3 pb-5" [ngStyle]="{ 'margin-left' : opened ? '200px':'0px'}">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>