.menu {
    background: #f5f5f5;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu li {
    transition: 0.2s;
}

.menu nav ul li.nav-item:last-child {
    border-bottom: none;
}

.mobile-slider {
    position: absolute;
    left: 100%;
    background: #fff;
    height: calc(100vh - 6rem);
    width: 100%;
    z-index: 5;
    top: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    overflow: hidden;
}

.active-menu-child.menu-child {
    left: 0;
    visibility: visible;
    opacity: 1;
    /* overflow: visible; */
    overflow: hidden;
    /* overflow-y: scroll; */
}

/* #dropdown-child-0 .menu-child {
    overflow-y: scroll;
} */
