<div class="box-white place">
    <div class="container-main">
        <div class="container-fluid">
            <!--destop-->
            <div class="row justify-content-center d-none d-md-flex">
                <div class="col-12 col-md-6 pb-4 pb-md-0 col-lg-8">
                    <div class="bg-login d-flex align-items-center justify-content-center position-relative"
                        [ngStyle]="{'background-image': 'url(' + data.images + ')'}">
                        <div class="text-center login">
                            <h2 class="text-white text-uppercase">
                                {{'FELogin.create' | translate}}
                            </h2>
                            <p class="text-white mb-5" *ngIf="data.description && data.description.length > 0">
                                {{data.description}}
                            </p>
                            <app-box-button [name]="'FEbtn.registration'" [routerLink]="['/dang-ky']"
                                class="text-white">
                            </app-box-button>
                            <!-- <div class="mt-4">
                                <app-frmloginfb></app-frmloginfb>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-12 pl-0">
                    <app-fm-signin></app-fm-signin>
                </div>
            </div>
            <!--mobile-->
            <div class="row d-md-none d-flex pt-3">
                <div class="col-12 col-md-6 pb-4 pb-md-0 col-lg-8">
                    <div class="text-justify">
                        <h3 class="" style="color: #2a2a2b;"> {{'FELogin.create' | translate}}</h3>
                        <p *ngIf="data.description && data.description.length > 0">
                            {{data.description}}
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-12 pb-0 pb-4">
                    <app-fm-signin></app-fm-signin>
                </div>
            </div>
        </div>
    </div>
</div>